@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: crimson;
  margin-top: 300px;
  background: url("stop watch.png") no-repeat;
  background-size: cover;
}
.wrapper{
  user-select: none;
}
.wrapper .time{
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 8px 8px 0 red;
  padding: 0 10px;
  text-shadow: 1px 1px 0 #bbb,
               2px 2px 0 #999,
               3px 3px 0 #777,
               4px 4px 0 #555,
               5px 5px 10px rgba(0,0,0,0.3);
}
.wrapper .time span{
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: red;
}
.time span.colon{
  width: 10px;
}
.time span.ms-colon,
.time span.millisecond{
  color: red;
}
.wrapper .buttons{
  text-align: center;
  margin-top: 20px;
}
.buttons button{
  padding: 10px 20px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: black;
  background: violet;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 6px 6px 0 black;
  border: 2px solid black; 
}
.buttons button.active,
.buttons button.stopActive{
  pointer-events: none;
  opacity: 0.7;
}
